<div class="container mt-5">
    <h2 class="mb-4">Carrito de Compras</h2>
    <table class="table">
      <thead>
        <tr>
          <th>Producto</th>
          <th>Descripción</th>
          <th>Precio</th>
          <th>Cantidad</th>
          <th>Subtotal</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><img src="assets/Producto1.png" alt="Producto 1" style="max-width: 50px;"></td>
          <td>Camisa a rayas</td>
          <td>$29.99</td>
          <td>2</td>
          <td>$59.98</td>
          <td><button class="btn btn-danger btn-sm">Eliminar</button></td>
        </tr>
        <tr>
          <td><img src="assets/Producto 2.jpg" alt="Producto 2" style="max-width: 50px;"></td>
          <td>Zapatillas deportivas</td>
          <td>$59.99</td>
          <td>1</td>
          <td>$59.99</td>
          <td><button class="btn btn-danger btn-sm">Eliminar</button></td>
        </tr>
       
      </tbody>
      <tfoot>
        <tr>
          <td colspan="4" class="text-right"><strong>Total:</strong></td>
          <td>$119.97</td>
          <td></td>
        </tr>
      </tfoot>
    </table>
    <div class="text-center">
      <button class="btn btn-primary">Realizar Compra</button>
    </div>
  </div>
